.route_container {
    width: 100%;
    flex: 19;
    margin: 0;
}

.description {
    height: 100vh; /* Ensure it takes full viewport height */
    overflow-y: scroll; /* Allow vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}